*{ box-sizing: border-box;}

@font-face {
font-family: "CarlaSansLight";
src: url("../fonts/CarlaSansLight.ttf") format("truetype");
font-style: Light;
font-weight: Light;
}

.section1 {
width: 100vw;
height: 100vw;
}

.columns_all {
display: flex;
flex-direction: row;
width: 100vw;
height: 100vw;
flex-wrap: nowrap;
}

.column1{
  width: 20vw;
  height: 100vw;
  background-image: url(./images/Column_1.png);
}

.column2{
  width: 20vw;
  height: 100vw;
  background-image: url(./images/Column_2.png);
}

.column3{
  width: 20vw;
  height: 100vw;
  background-image: url(./images/Column_3.png);
}

.column4{
  width: 20vw;
  height: 100vw;
  background-image: url(./images/Column_4.png);
}

.column5{
  width: 20vw;
  height: 100vw;
  background-image: url(./images/Column_5.png);
}

.column {
width: 20vw;
height: 100vw;
}

.information {
position: absolute;
margin-left: 100vw;
margin-top: -100vw;
}

.information img{
width: 10vw;
height: 10vw;
}

